<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Outstanding Issues Mock-Up</title>
    <link rel="stylesheet" type="text.css" href="./scss/normalize.css" />
    <link rel="stylesheet" href="./scss/main.css" />
    <link rel="stylesheet" href="./scss/fonts.css" />
    <link rel="stylesheet" href="./scss/fontawesome-all.css" />
    <link rel="stylesheet" href="./scss/google.css" />
  </head>
  <body>
    <div class="Header">
      <div class="Logo">
        <img class="Logo-img" src="img/precog-logo.png" />
      </div>
      <div class="ButtonGroup">
        <a class="Button button" href="information.html"
          ><i class="Icon fas fa-info-circle"></i>Information</a
        >
        <a class="Button button" href="#"
          ><i class="Icon fas fa-table"></i>Load History</a
        >
        <button class="Button">
          <i class="Icon fas fa-user-circle"></i>My subscription</button
        ><button class="Button">
          <i class="Icon fas fa-sign-out-alt"></i>Log out
        </button>
      </div>
    </div>
    <div class="Page">
      <div class="Container">
        <h1>Info to include</h1>
        <p>
          would be nice if we could show the outstanding issues to the customer
          in the ui and let them prioritise them and see estimates
        </p>

        <table class="">
          <colgroup class="">
            <col class="" />
            <col class="" />
            <col class="" />
            <col class="" />
            <col class="" />
            <col class="" />
            <col class="" />
            <col class="" />
            <col class="" />
          </colgroup>
          <tr class="">
            <th class="">Reported</th>
            <th class="">Last Update</th>
            <th class="">Priority</th>
            <th class="">Description</th>
            <th class="">Issue Class</th>
            <th class="">Pipeline</th>
            <th class="">Dataset</th>
            <th class="">Status</th>
          </tr>
          <tr class="">
            <td class="">A</td>
            <td class="">B</td>
            <td class="">C</td>
            <td class="">D</td>
            <td class="">E</td>
            <td class="">F</td>
            <td class="">G</td>
            <td class="">H</td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
